body {
    background-color: #CE7E00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 500px;
    box-sizing: border-box;
    transition: background-color 1s;
}

.container {
    position: relative;
    width: 100%;
    max-width: 750px;
    margin: 20px;
    height: 900px;
    border-radius: 5%;
    box-shadow: 20px 15px 10px black;
    background-color: rgba(28, 28, 57, 0.5);
    display: flex;
    align-items: center;
}

table {
    border-collapse: separate;
    padding: 0;
}

td, th{
    padding:0;
}

img {
    width: 250px; 
    height: 250px;
}

.div1{
    position: absolute; 
    top: 67px;
    left: 35px;
}

.div2{
    margin-left: 350px; 
    margin-top: -725px;
}

p {
    color: #FFF2CC;
    font-family: georgia;
}

#name{
    font-size: 50;
}

#intro{
    font-size: 16;
    margin-top: -20px;
}

#skills {
    font-size:50;
    margin-top: -5px;
}

.fr {
    padding: 4;
    margin-top: -35px;
}

.title {
    font-size: 18;
}

.skills-div {
    height: 10px; 
    border-radius: 10%; 
    background-color: #FFF2CC;
}

#wd1 {
    width: 130px;
}

#wd2 {
    width: 150px;
}

#wd3 {
    width: 150px;
}

#wd4 {
    width: 150px;
}

#wd5 {
    width: 150px;
}

#wd6 {
    width: 170px;
}

#wd7 {
    width: 140px;
}

#wd8 {
    width: 180px;
}

.info {
    margin-left: 38px; 
    margin-top: 285px;
}

.img {
    width: 25px;
    height: 25px;
}

.info-textsize {
    font-size: 15px;
}

.educ-smaller {
    margin-top: -8px;
    font-size: 15px;
}

#education {
    font-size: 40px;
}

.educ-bigger {
    font-size: 18;
    font-weight: bold;
}

#marg-sr {
    margin-top: 15px;
}

.ccbutton{
  background-color: #FFFFFF;
  border: 0;
  border-radius: 8px;
  color:#CE7E00;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 16px;
  font-family: georgia;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 10px;
}

.ccbutton:hover {
  background-color: #FFF2CC;
}

